#game {
  transform: translateY(100%);
  z-index: 1500;
  background-color: $blue;
  color: rgba(255, 255, 255, 0.7);

  .device-selection {
    @include autoAlphaZero();

    &-item {
      top: 15vh;
      height: 70vh;
      text-align: center;
      padding: 0 25px;

      &-wrapper {
        border: solid 1px $alphaPurpleMid;
        height: 100%;
        width: 100%;
        transition: all 0.3s;

        &:hover {
          border: solid 1px $alphaPurple;
        }
      }
    }

    &-title {
      position: relative;
      display: inline-block;
      font-size: 20px;
      top: -12px;
      padding: 0 15px;
      background-color: $blue;
    }

    &-anim {
      height: 250px;
      padding: 50px;

      svg {
        height: 180px;
        fill: rgba(255, 255, 255, 0.5);
      }
    }

    &-mobile {
      &-instructions {
        font-size: 16px;
        margin-bottom: 10px;
      }

      &-url {
        font-style: italic;
        margin-bottom: 25px;
      }

      &-qrcode {
        display: inline-block;
        margin-bottom: 25px;
      }

      &-loading {
        font-size: 16px;
        font-style: italic;
      }

      &-loading-dots {
        padding-left: 10px;
      }
    }

    &-desktop-button {
      margin-top: 120px;
      color: #f7fbfc;
      font-size: 20px;
      padding: 8px 30px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 20px;
    }
  }

  .game-instructions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20% 15%;
    @include autoAlphaZero();

    p {
      font-size: 30px;
      line-height: 50px;
      white-space: nowrap;
    }
  }

  .game-counter {
    @include center();
    left: 150%;
    font-size: 40px;
    font-weight: bold;
  }

  .game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include autoAlphaZero();

    &-counter {
      @include center();
      z-index: -400;
      top: 55%;
      color: rgba(255, 255, 255, 0.05);
      font-size: 500px;
      font-weight: bold;
      letter-spacing: 50px;
      margin-left: 25px;
    }

    &-scores {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 200px;
      transform: translateX(-50%);
    }

    &-score {
      position: absolute;
      width: 33%;
      height: 100%;

      &:nth-child(2) {
        left: 33.33%;
      }

      &:nth-child(3) {
        left: 66.66%;
      }

      &-candidat {
        @include center();
        top: 25%;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5)
      }

      &-percentage {
        @include center();
        top: 55%;
        font-size: 64px;
        color: rgba(255, 255, 255, 0.5);

        span {
          font-size: 32px;
        }
      }
    }

    &-result {
      @include center();
      @include autoAlphaZero();
      font-size: 60px;
      white-space: nowrap;
    }

    &-reload {
      @include center();
      top: 60%;
      @include autoAlphaZero();
      font-size: 25px;
    }
  }
}
