#game {
  display: none;
}

.sky {
  position: relative;
  height: 30%;
  width: 100%;
  background-color: #98d5eb;
}

.ground {
  position: relative;
  width: 100%;
  height: 70%;
  background-color: #d0ae56;
}

.road {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 50%;
  background: #354852;
  border-left: 8px solid #ddd;
  border-right: 8px solid #ddd;
  overflow: hidden;

  .lines {
    position: relative;
    width: 0;
    height: 200%;
    top: 0;
    margin: auto;
    border-left: 8px dashed #bf9000;
  }
}

.hillary {
  width: 263px;
  height: 344px;
  background: url('../img/sprite-hillary.png');
  position: absolute;
  overflow-x: hidden;
  z-index: 100;

  &:hover {
    background-position-x: 263px;
  }
}

.hillary {
  display: none;
}
