doctype html
html(lang="fr")
  head

    <!--DEVICE-->
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=Edge')
    meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')

    <!--GENERAL INFORMATIONS-->
    title Webpack Starter Kit
    meta(name='description' content='A webpack starter kit')

    <!--SOCIAL-->
    <!-- FB -->
    meta(name='og:url' content='')
    meta(name='og:title' content='Webpack starter kit')
    meta(name='og:description' content='A webpack starter kit')
    meta(name='og:image' content='')
    meta(name='og:type' content='website')

    <!-- TWITTER -->
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@')
    meta(name='twitter:creator' content='@')
    meta(name='twitter:title' content='Webpack starter kit')
    meta(name='twitter:description' content='A webpack starter kit')
    meta(name='twitter:image' content='')

    style.
      html,body{background-color:#c9d6df}.loader{position:absolute;top:0;bottom:0;left:0;right:0;z-index:5000;background-color:#070F4E}.loader span{display:inline-block;width:15px;height:15px;background-color:#FFFFFF;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2)}.loader span:nth-child(1){background-color:#D72323;-webkit-animation:goToPlace1 1s ease-in, move1 2s 1s infinite ease-out;animation:goToPlace1 1s ease-in, move1 2s 1s infinite ease-out}.loader span:nth-child(2){-webkit-animation:goToPlace2 1s ease-in, move2 2s 1s infinite ease-out;animation:goToPlace2 1s ease-in, move2 2s 1s infinite ease-out}@-webkit-keyframes "goToPlace1"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(-150%, -50%) scale(1);transform:translate(-150%, -50%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@keyframes "goToPlace1"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(-150%, -50%) scale(1);transform:translate(-150%, -50%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@-webkit-keyframes "goToPlace2"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(50%, -50%) scale(1);transform:translate(50%, -50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}@keyframes "goToPlace2"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(50%, -50%) scale(1);transform:translate(50%, -50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}@-webkit-keyframes "move1"{0%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}25%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}50%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}75%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@keyframes "move1"{0%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}25%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}50%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}75%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@-webkit-keyframes "move2"{0%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}25%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}50%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}75%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}@keyframes "move2"{0%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}25%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}50%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}75%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}

  body
    .loader
        span
        span

    .section#signup
      .signup-background
      .signup-overlay
      .signup-transition

      h1.signup-title - Engage toi -

      p.signup-subtitle Pour commencer, crée toi un profil ...

      .signup-card

        .signup-portrait
          img.signup-portrait-image(src=require('img/profil-template.png'))

        form.signup-form
          input(type='text', name='name', placeholder='Ton Nom')
          input(type='text', name='group', placeholder='Ton Parti Politique')

      a.signup-start Commencer

      .signup-popup
        canvas#signup-canvas(width=500, height=370)
        video#signup-video(width=500, height=370)
        .signup-popup-actions
          a.signup-popup-exit
            svg(viewbox='0 0 100 125')
              g(stroke='none', stroke-width='1', fill-rule='evenodd')
                g
                  path(d='M60.6856187,50 L92.7424749,82.0568562 C95.7525084,85.0668896 95.7525084,89.7324415 92.7424749,92.7424749 L92.7424749,92.7424749 C89.7324415,95.7525084 85.0668896,95.7525084 82.0568562,92.7424749 L50,60.6856187 L17.9431438,92.7424749 C14.9331104,95.7525084 10.2675585,95.7525084 7.25752508,92.7424749 C4.24749164,89.7324415 4.24749164,85.0668896 7.25752508,82.0568562 L39.3143813,50 L7.25752508,17.9431438 C4.24749164,14.9331104 4.24749164,10.2675585 7.25752508,7.25752508 C10.2675585,4.24749164 14.9331104,4.24749164 17.9431438,7.25752508 L50,39.3143813 L82.0568562,7.25752508 C85.0668896,4.24749164 89.7324415,4.24749164 92.7424749,7.25752508 C95.7525084,10.2675585 95.7525084,14.9331104 92.7424749,17.9431438 L60.6856187,50 L60.6856187,50 Z')

          a.signup-popup-valid
            svg(viewbox='0 0 58.2 46.6')
              g
                path(d='M21.6,46.6c-1.1,0-2.2-0.5-3.1-1.3L1.3,28c-1.7-1.7-1.7-4.4,0-6.1c1.7-1.7,4.4-1.7,6.1,0l14,14L50.6,1.5\
                    c1.5-1.8,4.3-2,6.1-0.5c1.8,1.5,2,4.3,0.5,6.1L24.9,45c-0.8,0.9-1.9,1.5-3.1,1.5C21.7,46.6,21.7,46.6,21.6,46.6z')

    .section#game

    .hillary
