doctype html
html(lang="fr")
  head

    <!--DEVICE-->
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=Edge')
    meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')

    <!--GENERAL INFORMATIONS-->
    title Webpack Starter Kit
    meta(name='description' content='A webpack starter kit')

    <!--SOCIAL-->
    <!-- FB -->
    meta(name='og:url' content='')
    meta(name='og:title' content='Webpack starter kit')
    meta(name='og:description' content='A webpack starter kit')
    meta(name='og:image' content='')
    meta(name='og:type' content='website')

    <!-- TWITTER -->
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@')
    meta(name='twitter:creator' content='@')
    meta(name='twitter:title' content='Webpack starter kit')
    meta(name='twitter:description' content='A webpack starter kit')
    meta(name='twitter:image' content='')

    style.
      html,body{background-color:#c9d6df}.loader{position:absolute;top:0;bottom:0;left:0;right:0;z-index:5000;background-color:#070F4E}.loader span{display:inline-block;width:15px;height:15px;background-color:#FFFFFF;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2)}.loader span:nth-child(1){background-color:#D72323;-webkit-animation:goToPlace1 1s ease-in, move1 2s 1s infinite ease-out;animation:goToPlace1 1s ease-in, move1 2s 1s infinite ease-out}.loader span:nth-child(2){-webkit-animation:goToPlace2 1s ease-in, move2 2s 1s infinite ease-out;animation:goToPlace2 1s ease-in, move2 2s 1s infinite ease-out}@-webkit-keyframes "goToPlace1"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(-150%, -50%) scale(1);transform:translate(-150%, -50%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@keyframes "goToPlace1"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(-150%, -50%) scale(1);transform:translate(-150%, -50%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@-webkit-keyframes "goToPlace2"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(50%, -50%) scale(1);transform:translate(50%, -50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}@keyframes "goToPlace2"{0%{-webkit-transform:translate(-50%, -50%) scale(2);transform:translate(-50%, -50%) scale(2);}50%{-webkit-transform:translate(50%, -50%) scale(1);transform:translate(50%, -50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}@-webkit-keyframes "move1"{0%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}25%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}50%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}75%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@keyframes "move1"{0%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}25%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}50%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}75%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}100%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}}@-webkit-keyframes "move2"{0%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}25%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}50%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}75%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}@keyframes "move2"{0%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}25%{-webkit-transform:translate(-150%, -150%) scale(1);transform:translate(-150%, -150%) scale(1);}50%{-webkit-transform:translate(-150%, 50%) scale(1);transform:translate(-150%, 50%) scale(1);}75%{-webkit-transform:translate(50%, 50%) scale(1);transform:translate(50%, 50%) scale(1);}100%{-webkit-transform:translate(50%, -150%) scale(1);transform:translate(50%, -150%) scale(1);}}

  body
    .loader
        span
        span

    .section#signup
      h1.signup-title - Engagez-vous -
      p.signup-subtitle Pour commencer, créer un profil
      .signup-portrait
      form.signup-form
        input(type='text', name='name', placeholder='Votre Nom')
        input(type='text', name='group', placeholder='Votre Parti Politique')
      .signup-popup
        canvas#signup-canvas
        video#signup-video(width=500, height=500)

    .section#game
      .timeline
      .sky
        .ground
        .road
          .lines


    .hillary
